services:
  traefik:
    image: traefik:v3.6

    container_name: traefik

    restart: unless-stopped

    security_opt:
      - no-new-privileges:true

    networks:
      - proxy

    ports:
      - 80:80
      - 443:443

    environment:
      CF_API_EMAIL: ${CF_API_EMAIL}
      CF_DNS_API_TOKEN: ${CF_DNS_API_TOKEN}
      TRAEFIK_DASHBOARD_CREDENTIALS: ${TRAEFIK_DASHBOARD_CREDENTIALS}

    command:
#      - "--log.level=DEBUG"

      - "--api=true"

      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.file.filename=/etc/traefik/external-services.yaml"

      - "--entryPoints.web.address=:80"
      - "--entryPoints.web.http.redirections.entryPoint.to=websecure"

      - "--entryPoints.websecure.address=:443"

      - "--certificatesresolvers.cloudflare.acme.dnschallenge=true"
      - "--certificatesresolvers.cloudflare.acme.dnschallenge.provider=cloudflare"
      - "--certificatesresolvers.cloudflare.acme.dnschallenge.resolvers=1.1.1.1:53,8.8.8.8:53"
#     - "--certificatesresolvers.cloudflare.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
      - "--certificatesresolvers.cloudflare.acme.email=${CF_API_EMAIL}"
      - "--certificatesresolvers.cloudflare.acme.storage=/acme.json"

    env_file: .env

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /mnt/docker_volumes/traefik/config:/etc/traefik
      - /var/traefik/acme.json:/acme.json

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`traefik.prod-01.home.olivando.me`)"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.routers.traefik.middlewares=auth"

      - "traefik.http.middlewares.auth.basicauth.users=${TRAEFIK_DASHBOARD_CREDENTIALS}"

      - "traefik.http.routers.traefik.tls=true"
      - "traefik.http.routers.traefik.tls.certresolver=cloudflare"
      - "traefik.http.routers.traefik.tls.domains[0].main=home.olivando.me"
      - "traefik.http.routers.traefik.tls.domains[0].sans=*.home.olivando.me, *.prod-01.home.olivando.me"

networks:
  proxy:
    external: true
